*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------------------container---------------*/
#container{
    height: 100vh;
    display: flex;
    width: 100%;
}

/*-----------------------sidebar---------------------*/
#sidebar{
    height: 100vh;
    width: 20%;
    /* height: 100%;
    width: 354px; */
    position: fixed;
    left:0;
    top:0;


}

#sidebar>i{
    font-size: 2rem;
    padding: 20px;
    cursor: pointer;
}

.logo>i{
    font-size: 2.5rem;
    padding: 10px;
    cursor: pointer;
}
.logo>button{
    background-color: aliceblue;
    border: none;
    cursor: pointer;
    width: 150px;
    padding: 10px;  
}
.logo{
    margin: 10px;
}
.logo:hover{
    background-color: aliceblue;
}

/*------------------------------main-cont------------------------*/
#main-cont{
    margin-left: 345px;
    height: 100%;
    width: 80%;
    
}

/*----------------------Dashboard---------------------*/

#bar{
    background-color: #4664af;
    height: 400px;
}
/*header*/
#header>img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    margin: 20px;
}
#header{
    display: flex;
    justify-content:space-between;
    gap: 10px;
   
}
#header>i{
    margin: 20px;
    font-size: 2rem;
}


input{
    margin: 10px;   
    border-radius: 20px;
    padding: 20px;
}
#header>span>i{
    margin: 20px;
    font-size: 1.5rem;
    word-spacing: 20px;
    cursor: pointer;
}

#header>span>i:hover{
    opacity: 0.5;
}
.d-cont{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.d-cont>h2{
    color: white;
}
span>button{
    padding: 10px;
    border: none;
    background-color: white;
    color: darkblue;
    cursor: pointer;
}
span>button:hover{
    color: black;
    font-weight: bolder;
}
/*---------------------box-1-------------------*/
#box-1{
    background-color: white;
    display: inline-block;
    margin: 20px;
    height: 100px;
    text-align: center;
    width: 250px;
    position: absolute;
    top: 145px;
}
#box-1>h5{
    padding: 10px;
    font-size: 1rem;
}
#box-1>p{
    padding: 2px;
    font-size: 1.5rem;
}
/*------------------------box-2---------------------------*/
#box-2{
    background-color: white;
    display: inline-block;
    margin: 20px;
    height: 100px;
    text-align: center;
    width: 250px;
    position: absolute;
    top: 145px;
    left: 650px;
}
#box-2>h5{
    padding: 10px;
    font-size: 1rem;
}
#box-2>p{
    padding: 2px;
    font-size: 1.5rem;
}
/*----------------------------box-3--------------*/

#box-3{
    background-color: white;
    display: inline-block;
    margin: 20px;
    height: 100px;
    text-align: center;
    width: 250px;
    position: absolute;
    top: 145px;
    left: 950px;
}
#box-3>h5{
    padding: 10px;
    font-size: 1rem;
}
#box-3>p{
    padding: 2px;
    font-size: 1.5rem;
}
/*--------------------box-4-------------------*/

#box-4{
    background-color: white;
    display: inline-block;
    margin: 20px;
    height: 100px;
    text-align: center;
    width: 250px;
    position: absolute;
    top: 145px;
    right: 0px;
}
#box-4>h5{
    padding: 10px;
    font-size: 1rem;
}
#box-4>p{
    padding: 2px;
    font-size: 1.5rem;
}

/*charts*/
#chart-1{
    margin: 20px;
    border-radius: 20px;
    height: 400px;
    width: 600px;
    position: absolute;
    top: 300px;
    background-color: beige;
}
/*chart-2*/
#chart-2{
    border-radius: 20px;
    margin: 20px;
    position: absolute;
    height: 400px;
    right: 50px;
    top: 300px;
    width: 400px;
    background-color: beige;
}
/*chart-1 cont*/
#title{
    position: absolute;
    bottom: -20px;
    left: 450px;
    display: flex;
    justify-content: space-around;
    gap: 350px;
}
#title>h5{
    padding: 10px;
}
#title>button{
    padding: 5px;
    background-color: blue;
}
.c-1-table>table{
    position: absolute;
    bottom: 100px;
   
 
}

