*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*container*/
#container{
    height: 100vh;
    display: flex;
    width: 100%;
}

/*sidebar*/
#sidebar{
    height: 100vh;
    width: 20%;
    border: 1px solid #000;
}

#sidebar>i{
    font-size: 2rem;
    padding: 20px;
    cursor: pointer;
}

.logo>i{
    font-size: 2.5rem;
    padding: 10px;
    cursor: pointer;
}
.logo>button{
    background-color: aliceblue;
    border: none;
    cursor: pointer;
    width: 150px;
    padding: 10px;  
}
.logo{
    margin: 10px;
}
.logo:hover{
    background-color: aliceblue;
}

/*main-cont*/
#main-cont{
    height: 100%;
    width: 80%;
    background-color: purple;
}

/*Dashboard*/
#header>img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}
#header{
    
    margin: 20px;
    display: flex;
    justify-content:space-between;
    gap: 10px;
}
input{
    border-radius: 20px;
    padding: 20px;
}
#header>span>i{
    margin: 10px;
    font-size: 1.5rem;
    word-spacing: 20px;
    cursor: pointer;
}
#header>span>i:hover{
    opacity: 0.5;
}
